* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(235, 232, 219);
}


h1, h2, h4 {
  text-align: center;
  color: darkslateblue;
}

#global-nav,
#biography,
#picts {
  display: flex;
  justify-content: center;
}

#biography {
  margin: 40px;
}

#biography img {
  width: 300px;
  height: 300px;
  margin: 20px;
  border: 1px solid black;
}

#text {
  column-count: 3;
  column-gap: 40px;
  column-rule: 1px solid rgb(112, 73, 218);
}

#famous,
#picts {
  text-align: center;
}

#famous img {
  margin: 20px;
  width: 400px;
  height: 500px;
}

#picts {
  flex-wrap: wrap;
}

.link {
  margin: 0 16px;
  padding: 4px;
  text-decoration: none;
  transition: .3s;
}

#picts img {
  width: 350px;
  height: 350px;
  transition: .4s;
}

#picts img:hover {
  width: 500px;
  height: 500px;
}

.link:hover {
  text-decoration: underline;
  color: rgb(112, 73, 218);
}
